<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ mode === 'create' ? 'Create Trip' : 'Edit Trip' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form>
    <!-- Title -->
    <ion-item>
      <ion-label position="floating">Trip Title</ion-label>
      <ion-input [(ngModel)]="trip.title" name="title"></ion-input>
    </ion-item>

    <!-- Destination -->
    <ion-item>
      <ion-label position="floating">Destination</ion-label>
      <ion-input [(ngModel)]="trip.destination.name" name="destinationName"></ion-input>
    </ion-item>

    <!-- Category -->
    <ion-item *ngIf="categories.length">
      <ion-label>Category</ion-label>
      <ion-select [(ngModel)]="trip.destination.category" name="category">
        <ion-select-option *ngFor="let c of categories" [value]="c">
          {{ c | titlecase }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Caption</ion-label>
      <ion-textarea [(ngModel)]="trip.caption" name="caption"></ion-textarea>
    </ion-item>

    <!-- Image -->
    <ion-item>
      <ion-label>Photo</ion-label>
      <input type="file" accept="image/*" (change)="onFileSelected($event)" />
    </ion-item>

    <div *ngIf="preview" class="ion-padding ion-text-center">
      <ion-img [src]="preview" style="max-height:200px;border-radius:10px;"></ion-img>
    </div>

    <!-- Buttons -->
    <ion-row class="ion-margin-top ion-justify-content-around">
      <ion-col size="6">
        <ion-button expand="block" color="medium" (click)="saveDraft()">
          Save Draft
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" color="success" (click)="sendForApproval()">
          Send for Approval
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
